<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading" style="font-style: normal;">
                        Our club meets in <strong>BUS 201</strong> on <strong>Tuesdays</strong> at <strong>11:15-12:35</strong>.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Work Together</h4>
                    <p class="text-muted">Teamwork is a critical skill for any programmer. Unfortunately it's not often taught in the average CS class. That is why our club focuses on group projects, which emphasize communication and collaboration.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build Software</h4>
                    <p class="text-muted">We want to write programs we can really use, whether they're for education, productivity, or just for fun. Our members can expect to contribute to websites, mobile apps, games, and other projects that they can be proud of.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Learn New Things</h4>
                    <p class="text-muted">Our club is a learning experience for members of all skill levels, from total beginners to expert programmers. We won't teach you how to code. Instead, we provide motivation, information, and support for each other to self-learn effectively.</p>
                </div>
            </div>
        </div>
    </section>
