<!-- Join Section -->
    <section id="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join</h2>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <p class="section-subheading">
                        Unfortunately, applications for the current semester are closed. Try again at the start of next semester!
                      </p><p class="section-subheading text-muted">We're always excited to meet new people who share our enthusiasm for programming. If that's you, please consider applying to join our club.<br>
                      <em>Please note:</em> this club is a big commitment and should be treated as another class. All members are expected to attend meetings and contribute to projects.</p><hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 text-center">
                    <a target="_blank" class="btn btn-primary btn-lg" disabled="disabled" href="http://goo.gl/forms/JBA7HU83fO" role="button">Apply</a>
                </div>
            </div>
        </div>
    </section>
