<!-- Join Section -->
    <section id="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join</h2>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <p class="section-subheading text-muted">
                          We're always excited to meet new people who share our enthusiasm for programming. If that's you, fill out our sign-up form and come by our next meeting.
                      </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 text-center">
                    <a target="_blank" class="btn btn-primary btn-lg" href="http://goo.gl/forms/Sr4AV2d41v8ekDxl2" role="button">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
